[submodule "MySensors"]
	path = MySensors
	url = git@github.com:pragtich/MySensors.git
[submodule "NodeManager"]
	path = NodeManager
	url = git@github.com:pragtich/NodeManager.git
	branch = development
